In [1]:
# 🔸 1. 출력해보기
print("Hello, Na-young!")
print("첫 번째 파이썬 실습입니다.")

# 🔸 2. 변수와 자료형
name = "나영"
age = 31
height = 163.5

print("이름:", name)
print("나이:", age)
print("키:", height)

# 🔸 3. 사칙연산
a = 10
b = 3

print("더하기:", a + b)
print("빼기:", a - b)
print("곱하기:", a * b)
print("나누기:", a / b)

# 🔸 4. 조건문 if
score = 85

if score >= 90:
    print("성적: A")
elif score >= 80:
    print("성적: B")
else:
    print("성적: C 이하")

# 🔸 5. 반복문 for
for i in range(5):
    print("반복 중입니다:", i)

# 🔸 6. 연습 - 나영이 직접 해보기!
# 아래 빈칸을 채워보세요 👇

# 이름과 나이를 변수로 만들고 출력해보세요

# 숫자 두 개를 변수로 만들고 더해보세요

# 점수를 넣고 if문으로 등급 나눠보세요

# '안녕하세요'를 3번 출력해보세요

Hello, Na-young!
첫 번째 파이썬 실습입니다.
이름: 나영
나이: 31
키: 163.5
더하기: 13
빼기: 7
곱하기: 30
나누기: 3.3333333333333335
성적: B
반복 중입니다: 0
반복 중입니다: 1
반복 중입니다: 2
반복 중입니다: 3
반복 중입니다: 4

In [4]:
print("Hello, Na young!")
print("파이썬 첫 수업이에요.")

name = "나영"
age = 31

print("이름:", name)
print("나이:", age)
print(name, "의 나이는", age, "살입니다.")

Hello, Na young!
파이썬 첫 수업이에요.
이름: 나영
나이: 31
나영 의 나이는 31 살입니다.

In [5]:
a = 10
b = 3

print(a+b)
print(a-b)
print(a*b)
print(a/b)

13
7
30
3.3333333333333335

In [7]:
# 틀린 코드
a = 10
b = 20
if a>b:
  print("a가 큽니다")
print("비교 완료")

# 고친 코드 예시
a = 10
b = 20
if a > b:
    print("a가 큽니다")
print("비교 완료")

비교 완료
비교 완료

In [9]:
score = 85

if score >= 90 :
    print("A입니다")
elif score >= 80 :
    print("B입니다.")
else:
    print("C입니다.")

B입니다.

In [11]:
for i in range(5) :
    print("반복", i)

반복 0
반복 1
반복 2
반복 3
반복 4