In [ ]:
fruits = ["사과", "바나나", "포도"]
print(fruits)

fruits.append("딸기")
print(fruits)

for fruit in fruits :
    print("과일:", fruit)

['사과', '바나나', '포도']
['사과', '바나나', '포도', '딸기']
과일: 사과
과일: 바나나
과일: 포도
과일: 딸기

# 새 섹션

In [ ]:
person = {"이름": "나영", "나이": 31, "직업": "회계사"}
print(person)

print(person["이름"])
print(person["직업"])

person["취미"] =  "발레"
print(person)

for key in person :
    print(key, ":", person[key])

{'이름': '나영', '나이': 31, '직업': '회계사'}
나영
회계사
{'이름': '나영', '나이': 31, '직업': '회계사', '취미': '발레'}
이름 : 나영
나이 : 31
직업 : 회계사
취미 : 발레

In [ ]:
person = {"이름": "나영", "나이": 31, "직업": "회계사"}

for key, value in person.items() :
    print(key, ":", value)

이름 : 나영
나이 : 31
직업 : 회계사

In [ ]:
colors = {"빨강": "red", "파랑": "blue", "초록": "green"}

for kr, en in colors.items() :
    print(kr, ":", en)

빨강 : red
파랑 : blue
초록 : green

In [ ]:
info = {"회사": "삼일", "부서": "디지털", "지원자": "나영"}
print("🗝️ key 목록:")
for k in info.keys() :
    print(k)

print("🟨 value 목록:")
for v in info.values() :
    print(v)

🗝️ key 목록:
회사
부서
지원자
🟨 value 목록:
삼일
디지털
나영

In [ ]:
people = [ {"이름": "나영", "나이": 31, "취미": "발레"}, {"이름": "지훈", "나이": 29, "취미": "러닝"}, {"이름": "수진", "나이": 32, "취미": "요가"} ]

for person in people :
    print("이름:", person["이름"])
    print("나이:", person["나이"])
    print("취미:", person["취미"])
    print("_________")

이름: 나영
나이: 31
취미: 발레
_________
이름: 지훈
나이: 29
취미: 러닝
_________
이름: 수진
나이: 32
취미: 요가
_________